<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!--- Sim Time -->
    <!-- <param name="/use_sim_time" value="true" /> -->
      <!-- <include file="$(find efficientdet_deploy)/launch/play_rosbag.launch" /> -->
      <include file="$(find efficientdet_deploy)/launch/start_all_rgb.launch" />
      <include file="$(find efficientdet_deploy)/launch/start_all_thermal.launch" />

      
     
</launch>
